@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.home-container {
  background-color: #1b1b38;
  padding-top: 100px;
  padding-left: 270px;
  padding-right: 30px;
  min-height: 100vh;
}
/* custom css MUI */
.MuiTableCell-root {
  color: #fff!important;
}
.css-kpr2he-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: #fff!important;
}
.css-kpr2he-MuiButtonBase-root-MuiPaginationItem-root {
  color: #fff!important;
}
.css-f20kmw-MuiTypography-root,
.MuiFilledInput-input {
  color: #fff!important;
}
/* .MuiOutlinedInput-input */
/* sort table */
.ascending::after {
  content: '↓';
  display: inline-block;
  margin-left: 5px;
}

.descending::after {
  content: '↑';
  display: inline-block;
  margin-left: 5px;
}

/* custom react-select */
.basic-single,
.basic-multi-select {
  width: 100%;
  z-index: 100;
}

.css-qc6sy-singleValue, 
.select__input-container {
  color: #fff!important;
}

@media screen and (max-width: 1200px) {
  .home-container {
    padding-left: 30px;
  }
}